<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<modules>
		<module id="otorisasi_user" class="Application.Autorisasi" />
		<module id="auth" class="TAuthManager" UserManager="otorisasi_user" LoginPage="Login" />
	</modules>
	<authorization>        
		<allow roles="superadmin" />		                
        <allow roles="adminpuskesmas" />        
        <allow roles="staffpuskesmas" />        
        <allow roles="pejabatdinas" />        
		<deny users="*" />		
	</authorization>
	<parameters>
		<parameter id="NewUserRoles" value="superadmin,adminpuskesmas,staffpuskesmas,pejabatdinas" />
	</parameters>
</configuration>